@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 15 20 28;
  --foreground: 248 250 252;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
